<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourites</title>
</head>
<body>
    <form action="/favourites" method="post">

<input type="hidden" name="homeId" value="<%= home.id %>">

<button type="submit">❤️</button>



    </form>
</body>
</html>

