<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
    <div class="container">
        <div class="main">
     <%- include('partials/header') %>
    <div class="add-home">
        <h1 class="home-h1">Find Your Next Stay</h1>
<p class="home-p">Discover unique homes, unforgettable experiences, and places you'll love.</p>
   <a href="/contact/submit-details">Explore Homes</a>
    </div>
    </div>
    </div>
</body>
</html>